schema_version = "1.0.0"

id = "typst_importer"
version = "0.2.1"
name = "Typst Importer"
tagline = "Render mathematical equations and code blocks"
maintainer = "Jan-Hendrik Müller<jan-hendrik.mueller@uni-goettingen.de>"
license = [
	"SPDX:GPL-3.0-or-later",
]

type = "add-on"
website = "https://github.com/kolibril13/blender_typst_importer"
platforms = [
	"windows-x64",
	"linux-x64",
	"macos-arm64",
]
tags = [
	"Geometry Nodes",
	"Import-Export",
]
blender_version_min = "4.2.0"

copyright = [
	"2025 Jan-Hendrik Müller",
]
wheels = [
	"./wheels/databpy-0.5.1-py3-none-any.whl",
	"./wheels/lxml-6.0.2-cp311-cp311-macosx_10_9_universal2.whl",
	"./wheels/lxml-6.0.2-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl",
	"./wheels/lxml-6.0.2-cp311-cp311-win_amd64.whl",
	"./wheels/svg_path-7.0-py2.py3-none-any.whl",
	"./wheels/typst-0.14.1-cp38-abi3-macosx_11_0_arm64.whl",
	"./wheels/typst-0.14.1-cp38-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl",
	"./wheels/typst-0.14.1-cp38-abi3-win_amd64.whl",
]


[permissions]
files = "Importing data files from disk"

# make sure only __init__.py and wheels/ are included.

[build]
paths_exclude_pattern = [
	".gitignore",    # Exclude gitignore
	"*.zip",         # Exclude *.zip
	"*__pycache__/", # Exclude /__pycache__ folder
]
